<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nakath.aurudu_nakath">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuruduNakath"
        tools:targetApi="31">
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity9"
            android:exported="false" />
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity8"
            android:exported="false"
            android:label="@string/title_activity_main8"
            android:theme="@style/Theme.AuruduNakath.NoActionBar" />
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity7"
            android:exported="false" />
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity6"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nakath.aurudu_nakath.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>